/**
 * Polka dot
 */
:root {
  --sq-color: transparent;
  --dot-size: 2px;
  --grid-base: 50px;
  --dot-bg-size: calc(var(--grid-base) / 2);
  --row-height: calc(var(--grid-base) * 2);
  --col-width: calc(var(--grid-base));
  --grid-gap: calc(var(--grid-base) / 1);
  --col-count: 7;
  --row-count: 4;

  --bg-position: calc(var(--grid-base) / 2);
  --bg-pos-grey: calc(var(--bg-position) / 2);
  --cell-size: 2;
  --gutter-size: 1;

  
  --sheet-width: calc(((var(--col-width) + var(--grid-gap)) * var(--col-count) - var(--grid-gap)));
  --sheet-height: calc(((var(--row-height) + var(--grid-gap)) * var(--row-count) - var(--grid-gap)));
}

.upload-button {
  width: 50px;
  height: 50px;
  border: none;
  background: #f76d6a;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  
  position: fixed;
  top: 0;
  left: 0;
  
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

#fileInput {
  display: contents;
}

.container {
  position: relative;
  padding: var(--grid-base);
}

.base-square {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: var(--grid-base);
  height: var(--grid-base);
  
  background-color: #269;
  background-image: linear-gradient(white 1px, transparent 1px), linear-gradient(90deg, white 1px, transparent 1px);
  background-size: 50% 50%;
  background-position: -1px -1px;
  opacity: .40;
}

.overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position-x: var(--bg-position);
  background-position-y: var(--bg-position);
  
  &.highlight {
    z-index: 2;
    background-image:
    radial-gradient(#faaeac var(--dot-size), var(--sq-color) 0);
    background-size: var(--grid-base) var(--grid-base);
  }
  
  &.dots {
    background-image:
      radial-gradient(#b4b4b4 calc(var(--dot-size) / 2), var(--sq-color) 0);
    background-size: var(--dot-bg-size) var(--dot-bg-size);
    background-position-x: var(--bg-pos-grey);
    background-position-y: var(--bg-pos-grey);
  }
}

.font-sheet {
  z-index: 100;
  width: var(--sheet-width);
  height: var(--sheet-height);
  // background-color: #4e695e;

  display: grid;
  grid-template-columns: repeat(var(--col-count), var(--col-width));
  grid-template-rows: repeat(var(--row-count), var(--row-height));
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
}

.glyph {
  // background-color: #2a5241;
  display: flex;

  &:empty {
    background-color: #e2eff0;
  }
  
  &:nth-last-child(5) {
    grid-column-start: 2;
  }
    
  &:nth-last-child(4) {
    grid-column-start: 3;
  }
  
  &:nth-last-child(3) {
    grid-column-start: 4;
  }
    
  &:nth-last-child(2) {
    grid-column-start: 5;
  }
  
  &:nth-last-child(1) {
    grid-column-start: 6;
  }

  .img {
    max-width: 100%;
    align-self: flex-end;
  }
}


.font-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--grid-base);
  
  .image {
    opacity: .15;
    margin-left: -83px;
    margin-top: -65px;
    transform: scale(0.95, 0.86);
    transform: scale(0.95);
  }
}