/**
 * Polka dot
 */
:root {
  --sq-color: transparent;
  --dot-size: 2px;
  --grid-base: 50px;
  --row-height: calc(--grid-base * 3);
  --col-width: calc(--grid-base * 2);
  --bg-position: calc(var(--grid-base) / 2);

  --cell-size: 2;
  --gutter-size: 1;
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image:
    radial-gradient(salmon var(--dot-size), var(--sq-color) 0);
  background-size: var(--grid-base) var(--grid-base);
  background-position-x: var(--bg-position);
  background-position-y: var(--bg-position);
}

// .font-sheet {
//   display: flex;
//   flex-wrap: wrap;
  
//   width: calc((125px * 4) - 50px);
//   height: calc((200px * 7) - 50px);

//   .glyph {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: #4eb44e96;
//     max-width: calc(var(--grid-base) * 2);
//     max-height: calc(var(--grid-base) * 3);

//     .img { 
//       background-color: green;
//       max-width: 100%;
//       max-height: 100%;
//     }
//   }
// }

.font-sheet {
  display: grid ;
  grid-template-rows: repeat(7, var(--row-height));
  grid-template-columns: repeat(4, var(--col-width));
  grid-gap: var(--grid-base);

  .glyph {
    background: #73d373;    
    min-height: 3rem;
    
    .img { 
      background-color: #02816c;
    }
  }
}

.image {
  z-index: 0;
  margin-top: -43px;
  margin-left: -31px;
}